@import "colores";
@import "fonts";


/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@font-face {
    font-family: "Syne";
    src: url("../assets/syne_font/Syne-ExtraBold.ttf");
}

.bg-dark{
    background-color: $dark;
}


/*Selector Universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button a {
    color: $primary-color;
    text-decoration: none;
}

button a:hover{
    color: white;
    text-decoration: none;
}

body {
    background-color: $dark;
    color: white;
    nav {
        background-color: $nav-background
    }
}

body{
    header {
        nav {
            ul {
                li {
                    justify-content: center;
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}


/*Font class*/
.font-description {
    font-family: $font-text;
    font-size: 18px;
}

@media (max-width: 768px){
    .font-description{
        font-size: 14px;
    }
}


.h3 {
    font-family: $font-text;
    font-size: 24px;
    text-transform: uppercase;
    font-weight:700;
}

@media (max-width: 768px){
    .h3{
        font-size: 18px;
    }
}

.font-nav{
    font-family: $font-text;
    font-size: 14px;
}

.font-h1{
    font-family: $font-branding;
    font-size: 62px;
    text-transform: uppercase;
}

.font-h2{
    font-family: $font-branding;
    font-size: 24px;
    text-transform: uppercase;
    color: orangered;
}

.tit-contacto{
    @extend .font-h2;
    margin-top: 20px;
    margin-left: 20px;
}

.banner{
    width: 100%;
    height: 650px;
    background-image: url(../assets/img/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    padding: 60px;
    display:flex;
    justify-content: left;
    align-items: center;
}

@media (max-width: 768px){
    .banner{
        height: 400px;
        background-position: right;
        padding: 20px;
        background-size:cover;
        background-image: url(../assets/img/banner-mobile.jpg);
        object-fit: cover;
    }
}


.banner-futbol{
    width: 100%;
    height: 400px;
    background-image: url(../assets/img/futbol.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 60px;
}

.banner-padel{
    width: 100%;
    height: 400px;
    background-image: url(../assets/img/padel.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 60px;
}

.button{
    background-color: white;
    color: $primary-color;
    padding: 10px 15px;
    font-family: $font-text;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    margin: 10px;
    transition: all 0.5s ease-in-out;
}

.button:hover {
    background-color: $primary-color;
    color: white;
}

@media (max-width: 768px){
    .button{
        font-size: 14px;
    }
}

/*ID*/
#footer{
    width: 100%;
    background-color: $nav-background;
    color: white;
    padding: 40px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}

#textarea{
    width: 60%;
    margin-left: 20px;
}

#exampleFormControlTextarea1{
    width: 70%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.title {
    margin-left: 60px;
    margin-top: 60px;
}



/*List Style*/
ul{
    list-style-type: none;
}

/*Metodologia BEM*/

.contenedor {
    width: 90%;
    margin: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
}

.contenedor > *{
    padding: 20px;
    margin: 40px;
}

/*card*/

.cards {
    width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: $nav-background;
}

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}

.cards__img {
    @include sizes(100%, 100%);
    margin-bottom: 16px;
}

.cards__text {
    @extend .font-description;
    margin-bottom: 20px;
    max-width: 90%;
    margin-top: 10px;
}

.box {
    height: 100%;
    width: 70%;
}
.contacto {
    margin: 20px;
    background-color: $nav-background;
    box-shadow: inset 0.75rem black;
    border-radius: 0.75rem;
}

.box__input {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
}

.servicios > *{
    padding: 20px;
    margin: 40px;
}

.icono-servicio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
}

.social-media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
}

.social-media > *{
    padding: 20px;
}

.fa-solid{
    margin: 12px;
}

table {
    font-family: $font-text;
    font-size: 14px;
    border-collapse: collapse;
    margin-bottom: 20px;
    max-width: 100%;
    margin-top: 10px;
    border-color: white;
}

table tbody tr th{
    padding: 10px;
}

table tbody tr td{
    padding: 10px;
}

.contenedor-gallery {
    width: 90%;
    margin: 40px;
}


.navbar-expand-lg .navbar-nav .nav-link{
    color: white;
    font-family: $font-text;
    margin-right: 30px;
}


.navbar-expand-lg .navbar-collaps{
    flex-grow: initial;
}


/*columna en fila*/
.nav__list{
    display: flex;
    list-style-type: none;
}

.nav__list > *{
    padding: 0 10px;
}

/*Grids*/

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}


.grid-container {
    display: grid;
    height: 1260px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: repeat(4,1fr);
    grid-template-areas: 
    "img1 img1 img1"
    "img1 img1 img1"
    "img2 img3 img4"
    "img5 img6 img7"
    ;
    gap: 20px;
    width: 90%;
    margin: 40px;
}


.img1 {
    grid-area: img1;
	
}


/*Grid Layout contatco*/
.grid-layout {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: repeat(3,1fr);
    grid-template-areas: 
    "header header header"
    "content content content"
    "footer footer footer"
    ;
    gap: 20px;
    width: 100%;
}

.grid-item-c {
    display: flex;
}

.g-header {
    grid-area: header;
}

.g-content {
    grid-area: content;
}

.g-footer {
    grid-area: footer;
}

.grid-content {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: repeat(2,1fr);
    grid-template-areas: 
    "box box"
    "map info"
    ;
    gap: 20px;
    width: 90%;
    margin: 40px;
}

.g-box {
    grid-area: box;
}

.g-info {
    grid-area: info;
}

.g-map {
    grid-area: map;
    margin-left: 40px;
}

/*CSS Grids Responsive Galeria de fotos/*
/*Media queries teori­a*/
/*Mobile*/
@media (max-width: 768px){
    .grid-container{
        width: 90%;
        height: 1920px;
        margin: 40px auto;
    
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(7,auto);
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7"
        ;
        gap: 10px;
    }
    .title {
        margin-left: 20px;
        margin-top: 20px;
    }
    .g-map{
        margin-left: 0px;
    }
}

/*CSS Grids Responsive Contacto/*
/*Media queries teori­a*/
/*Mobile*/
@media (max-width: 768px){
    .grid-content{
        width: 90%;
        height: 100%;
        margin: 40px auto;
    
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
        "box"
        "map"
        "info"
        ;
        gap: 20px;
    }

    .box{
        margin: 0px;
        width: 100%;
    }
}

/*CSS Grids Responsive/*
/*Media queries teori­a*/
/*Mobile*/
@media (max-width: 768px){
    .contenedor {
        margin: 10px;
        padding: 0px;
    }
    .cards {
        width: 90%;
        margin: 10px;
    }
    .cards__text {
        font-size: 14px;
    }
    .font-h1 {
        font-size: 36px;
    }
    .font-h2 {
        font-size: 24px;
    }
    .servicios > * {
        margin: 10px;
        padding: 20px;
    }
    .banner-futbol {
        height: 400px;
        background-position: center;
    }
    .banner-padel {
        height: 400px;
        background-position: center;
    }
}

/*Pseudoclases*/

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: $primary-color;
}

/*SASS II*/

$redes: ( /*Declaramos nuestro mapa*/
        Instagram:  #ff6b0986,
        Whatsapp: #ffffff98
); 
/*Creamos el bucle para usar los valores del mapa*/
@each $red, $color in $redes {
    .btn--#{$red} {
        background-color: $color;
        border: none;
        border-radius: 25px;
        margin: 10px;
        padding: 10px 15px;
    }
}
